body {
    text-align: center;
    background-color: black;
    font-family: 'Nunito', sans-serif;
    color: white;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: darkgray;
    text-decoration: underline;
}

hr {
    width: 75%;
}

.top-buffer {
    padding-top: 50px;
}
